.privacy-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.logonav {
  font-family: "HKGrotesk-ExtraBold";
  font-size: 23pt;
  font-weight: 900;
  color: black;
  transition: color 0.15s ease 0s;
}