<!-- <section class="color-row">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div id="app">
          <div id="wrapper">
            <p class="text white roboto-bold mt-5">{{ 'CORPORATE.GLITCH.COMMENT_TAGLINE' | translate }}</p>
            <h1 class="hk-regular white title-second">{{ 'CORPORATE.GLITCH.COMMENT_EXPLORE' | translate }}</h1>
            <a class="cursorp link-weblab" routerLink="/weblab">
              <h2 class="glitch mb-5" data-text="{{ 'CORPORATE.GLITCH.COMMENT_WEBLAB' | translate }}">{{ 'CORPORATE.GLITCH.COMMENT_WEBLAB' | translate }}</h2>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->

<section class="py-5 color-back">
  <span style="display: block; height: 70px;" id="project"></span>
  <div class="w-100 text-center pt-4">
    <div class="w-100 text-center">
      <span class="hk-bold title-inside grayDark-bg text-white rounded-pill px-4 py-2">{{ 'CORPORATE.GLITCH.TAGLINE' | translate }}</span>
    </div>
    <p class="text-bigger hk-bold mt-3">{{ 'CORPORATE.GLITCH.SUBTITLE' | translate }}</p>
  </div>

  <div class="containersplit">

      <div class="half px-2 py-3 py-lg-4 ps-lg-4 pe-lg-2 ">
        <div class="d-flex justify-content-center align-items-center text-container left rounded-corner">
          <picture>
            <source srcset="assets/img/iconsplit-1.webp" type="image/webp">
            <source srcset="assets/img/iconsplit-1.png" type="image/png">
            <img class="iconsplit-1" alt="{{ 'CORPORATE.ALT.DECORATION' | translate }}" src="assets/img/iconsplit-1.png" width="412" height="412" loading="lazy" decoding="async">
          </picture>
          <picture>
            <source srcset="assets/img/iconsplit-2.webp" type="image/webp">
            <source srcset="assets/img/iconsplit-2.png" type="image/png">
            <img class="iconsplit-2" alt="{{ 'CORPORATE.ALT.DECORATION' | translate }}" src="assets/img/iconsplit-2.png" width="409" height="409" loading="lazy" decoding="async">
          </picture>
          <div class="text-end">
            <span class="hk-bold text-big white">{{ 'CORPORATE.GLITCH.DEV_LINE1' | translate }}</span>
            <br>
            <a  class="text-decoration-none" routerLink="/weblab"  style="cursor: pointer;"><span class="hk-bold title-huge white" style="line-height: 0.8!important;">{{ 'CORPORATE.GLITCH.DEV_LINE2' | translate }}</span></a>
          </div>
        </div>
      </div>
    


      <div class="half px-2 py-3 py-lg-4 ps-lg-4 pe-lg-2" style="cursor: pointer;">
      <div class="d-flex justify-content-center align-items-center text-container right rounded-corner">
        <picture>
          <source srcset="assets/img/iconsplit-3.svg" type="image/svg+xml">
          <img class="iconsplit-3" alt="{{ 'CORPORATE.ALT.DECORATION' | translate }}" src="assets/img/iconsplit-3.svg" width="270" height="270" loading="lazy" decoding="async">
        </picture>
        <picture>
          <source srcset="assets/img/iconsplit-4.svg" type="image/svg+xml">
          <img class="iconsplit-4" alt="{{ 'CORPORATE.ALT.DECORATION' | translate }}" src="assets/img/iconsplit-4.svg" width="270" height="270" loading="lazy" decoding="async">
        </picture>
        <div class="text-end">
          <span class="hk-bold text-big">{{ 'CORPORATE.GLITCH.SOFTWARE_LINE1' | translate }}</span>
          <br>
          <a  class="text-decoration-none" routerLink="/software" style="cursor: pointer; color: inherit;"><span class="hk-bold title-huge" style="line-height: 0.6!important;">{{ 'CORPORATE.GLITCH.SOFTWARE_LINE2' | translate }}</span></a>
        </div>
      </div>
    </div>

  </div>
</section>